.section {
  margin-top: 50px;
  width: 100vw;
  position: relative;
  background: #23262b;
}

.container {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.img {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 400px;
  max-width: 100%;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(81, 81, 81);
}

.right {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}

.right h1 {
  font-size: 40px;
}

.right p {
  margin-top: 10px;
  font-size: 20px;
}

.des {
  margin-top: 10px;
  color: #fff;
  line-height: 2rem;
}

.des h5 {
  font-size: 24px;
}

.des p {
  margin-top: 10px;
  font-size: 18px;
}

.bold {
  color: rgb(230, 104, 60);
  font-size: 24px;
}

.h1 {
  font-size: 32px;
  color: #fff;
}

.card {
  margin-top: 20px;
  width: fit-content;
}

.box {
  display: flex;
  color: #fff;
}

.box h3 {
  font-size: 24px;
}

.box img {
  width: 80px;
  height: 80px;
  max-width: 100%;
  margin-right: 30px;
  border-radius: 6px;
}

.extra {
  margin-top: 10px;
  margin-left: 40px;
  width: 10px;
  height: 100px;
  background-color: rgb(92, 89, 89);
}

/* ..........................tools......................... */
.toolSection {
  margin-top: 80px;
}

.toolGrid {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.toolH1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 255, 0, 0.573);
}

.toolBox {
  width: 90%;
  height: 120px;
  background-color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  padding: 10px;
}

.toolBox img {
  width: fit-content;
  max-width: 100%;
  height: 40px;
  background-color: #fff;
}

/* ......................skills................... */

.skillRow {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillH1 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700;
  color: rgba(255, 255, 0, 0.573);
}
.skillDiv {
  width: 90%;
  max-width: 100%;
  height: 100px;
  background-color: rgb(27, 25, 25);
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 24px;
  font-size: 24px;
  justify-self: center;
  margin-top: 20px;
}

@media screen and (max-width: 765px) {
  .img img {
    width: 200px;
    max-width: 100%;
    height: 200px;
  }

  .img {
    justify-content: center;
  }

  .right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toolGrid {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .toolH1 {
    font-size: 28px;
    text-align: center;
  }

  .skillH1 {
    font-size: 28px;
    text-align: center;
  }

  .skillDiv {
    font-size:1.2rem;
  }

}
