.header{
    width: 100vw;
    max-width: 100%;
    position: relative;
    background: #1f2125;
    /* border: 1px solid rgb(41, 41, 41); */
}

.header::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23262b;
    opacity: 0.2;
}

@media screen and (max-width: 450px) {
    .container {
        width: 95%;
    }
}